.form-box {
    display: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 25px;
    height: 400px;
    width: 200px;
}

.input-types {
    margin-left: 23px;
    margin-top: 20px;
}
